@font-face {
    font-family:'lilita';
    src: url('fonts/LilitaOne-Regular.ttf') format('truetype');
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/jellyfish-back.jpg');
    background-position: center;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: 'lilita', Arial, Helvetica, sans-serif;
}

.d-none{
    display: none;
}

h1{
    font-size: 64px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
}

canvas{
    display: block;
    
}

.start-game{
    width: 250px;
}

.canvas-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 720px){
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px){
    canvas {
        height: 100vh;
    }
}