@font-face {
    font-family:'lilita';
    src: url('fonts/LilitaOne-Regular.ttf') format('truetype');
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/jellyfish-back.jpg');
    background-position: center;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: 'lilita', Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.canvas-mobile{
    overflow: hidden;
}

.d-none{
    display: none !important;
}

h1{
    font-size: 100px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
    margin: 10px;
}

h2{
    font-size: 50px;
    text-decoration: underline;
}

canvas{
    display: block;
    border-radius: 8px;
    z-index: 1;
}

.button-container{
    display: flex;
    justify-content: space-around;
    width: 720px;
    margin-top: 10px;
}

.nav{
    width: 58px;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}



.nav-icon{
    width: 100%;
}

.help-img-jelly{
    width: 60px;
}

.header{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



.start-game{
    width: 250px;
    cursor: pointer;
    padding: 15px;
}

.start-game:hover{
    width: 280px;
}

.help-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.help-img{
    width: 100px;
}

.help-img-key{
    width: 60px;
}

.help-img-sharkie{
    width: 100px;
}

.canvas-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobilecontainer{
    width: 100vw;
    height: 100vh;
}

.game-helper-container{
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100vh;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px 0 0 8px;
}

.game-helper-button{
    width: 160px;
    height: 60px;
    font-family: 'lilita', Arial, Helvetica, sans-serif;
    background-color: #7FFFE0;
    border-radius: 15px;
    color: #531A82;
    font-size: 25px ;
    cursor: pointer;
    border-color: white;
}

.close-help-container{
    width: 100%;
    display: flex;
    justify-content: end;
}

.close-icon{
    margin: 5px;
    cursor: pointer;
}

.try-again-button{
    width: 350px;
    cursor: pointer;
}

.you-win{
    margin-top: 20px;
    width: 450px;
}

.close-icon:hover{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 100%;
}

.nav:hover{
    background-color: rgba(255, 255, 255, 0.7);
}

.mobile-controller{
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    
}

.mobile-akktion{
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}

.mobile-controll-key{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    background-color: rgb(255 255 255 / 40%);
    font-weight: bold;
    font-size: 12px;
}

.mobile-controll-x{
    width: 160px;
    display: flex;
    justify-content: space-between;
}

/* @media only screen and (min-width: 720px){
    canvas {
        width: 100%;
    }
} */

/* @media only screen and (min-height: 480px){
    canvas {
        height: 100vh;
        width: 100vw;
    }
} */

.animationFadeInRight {
    animation: fadeInright 0.5s ease 0s 1 normal forwards;
}

@keyframes fadeInright {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}